table#tlayout {
    border: none;
    border-collapse: separate;
    background: white;
}

body {
	background: hsl(0, 0%, 100%);
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 10px;
	font-size:84%;
}

div#OuterCanvas{
	width:100%;
	cursor:default}
	div#InnerCanvas{
		margin:0 12px;
		text-align:center}
		div#Page{
			display:inline-block;
			text-align:left;
			width:1040px;
			min-height:400px;
			margin:30px auto 50px auto;
			border:1px solid #ccc;
			border-top-right-radius:50px;
			border-bottom-left-radius:35px;
			box-shadow:0 0 24px #bbb;
			background:rgb(255, 255, 255)}
			div#Float{
				position:fixed;
				visibility:hidden;
				width:1000px;
				top:0;
				left:0;
				border-left:1px solid #ccc;
				border-right:1px solid #ccc;
				box-shadow:0 6px 24px #999}
				div.title{
					padding:20px 15px 12px 50px;
					border-bottom:1px solid #ddd;
					border-top-right-radius:79px;
					background:#fff
				}div.title span.name{
					display:inline-block;
					margin:5px 10px 5px 30px;
					color:#111;
					font-family:Satyr10,Georgia,serif;
					font-size:28pt;
					letter-spacing:1px;
					word-spacing:2px
				}div.content{padding:20px 40px 0 40px}
				span.email i{
					display:inline-block;
					overflow:hidden;
					width:0
				}div.aboutSection{
					padding-bottom:30px;
					min-height:200px
				}div.aboutSection td.leftPanel{
					width:600px;
					padding:20px 50px 00px 20px;
					vertical-align:top;
					color:#666;
					font-family:Ashbury;
					font-size:11pt;
					line-height:1.6em
				}div.aboutSection td.rightPanel{
					width:225px;
					padding:20px 0 10px 25px;
					vertical-align:top;
					color:#666;
					font-family:Ashbury;
					font-size:10pt;
					line-height:15px
				}div.aboutSection td.leftPanel p{
					margin-bottom:20px
				}div.aboutSection td.leftPanel span.select{
					color:#933;font-weight:bold;cursor:pointer
				}div.aboutSection td.leftPanel span.select-wrapper{
					margin:0 1px 0 1px
				}div.aboutSection td.rightPanel span.title{
					display:block;margin:25px 0 5px 0;color:#000;font-family:Satyr10;font-size:13pt
				}div.aboutSection td.rightPanel span.title:first-child{
					margin-top:0
				}div.aboutSection td.rightPanel span.info{
					display:block;margin:0 0 0px 0
				}div.aboutSection td.rightPanel i{
					display:inline-block;width:16px;margin:0 2px 0 0;color:#999;text-align:center
				}div.aboutSection td.leftPanel a{
					color:#666;font-weight:bold;text-decoration:none
				}div.aboutSection td.leftPanel a:hover{
					color:#933;text-decoration:underline
				}div.aboutSection td.rightPanel a{
					color:#666;text-decoration:none
				}div.aboutSection td.rightPanel a:hover{
					color:#933;text-decoration:underline}

#layout-menu {
	background: #f6f6f6;
	border: 1px solid #e4eef1;
	padding-top: 0.5em;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 86%;
	width: auto;
	white-space: nowrap;
    text-align: left;
    vertical-align: top;
}

#layout-menu td {
	background: #f4f4f4;
    vertical-align: top;
}

#layout-content {
	padding-top: 0.0em;
	padding-left: 1.0em;
	padding-right: 1.0em;
	padding-bottom: 1.2em;
    border: none;
    background: rgb(255, 255, 255);
    text-align: left;
	vertical-align: top;
	line-height: 1.5em;
	width: 950px;
	margin: auto;
}

#layout-menu a {
	line-height: 1.5em;
	margin-left: 0.5em;
}

tt {
    background: #ffffdd;
}

pre, tt {
	font-size: 100%;
	font-family: monaco, monospace;
}

a, a > tt {
	color: #224b8d;
	text-decoration: none;
}

a:hover {
	color:#933;
}

#layout-menu a.current:link, #layout-menu a.current:visited {
	color: #022b6d;
	border-bottom: 1px gray solid;
}
#layout-menu a:link, #layout-menu a:visited, #layout-menu a:hover {
	color: #527bbd;
	text-decoration: none;
}
#layout-menu a:hover {
	text-decoration: none;
}

div.menu-category {
	border-bottom: 1px solid gray;
	margin-top: 0.8em;
	padding-top: 0.2em;
	padding-bottom: 0.1em;
	font-weight: bold;
}

div.menu-item {
	padding-left: 16px;
	text-indent: 16px;
}

div#toptitle {
	padding-bottom: 0.2em;
	margin-bottom: 1.5em;
	border-bottom: 3px double gray;
}

/* Reduce space if we begin the page with a title. */
div#toptitle + h2, div#toptitle + h3 {
	margin-top: -0.7em;
}

div#subtitle {
	margin-top: 0.0em;
	margin-bottom: 0.0em;
	padding-top: 0em;
	padding-bottom: 0.1em;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}


h1, h2, h3 {
	color: #17458f;
	margin-top: 0.7em;
	margin-bottom: 0.3em;
	padding-bottom: 0.2em;
	line-height: 1.2;
	padding-top: 0.5em;
	border-bottom: 1px solid #aaaaaa;
}

h1 {
	font-family: 'Raleway';
	font-size: 140%;
}

h2 {
	font-family: 'Raleway';
	padding-top: 0.8em;
	font-size: 120%;
}

h2 + h3 {
	font-family: 'Raleway';
    padding-top: 0.2em;
}

h3 {
	font-family: 'Raleway';
	font-size: 120%;
	border-bottom: none;
}

p {
	margin-top: 0.0em;
	margin-bottom: 0.8em;
	padding: 0;
	line-height: 1.5;
}

pre {
	padding: 0;
	margin: 0;
}

div#footer {
	font-family: 'Raleway';
	font-size: small;
	border-top: 1px solid #c0c0c0;
	padding-top: 0.1em;
	margin-top: 4.0em;
	color: #c0c0c0;
}

div#footer a {
	color: #80a0b0;
}

div#footer-text {
	float: left;
	padding-bottom: 8px;
}

ul, ol, dl {
	margin-top: 0.2em;
	padding-top: 0;
	margin-bottom: 0.8em;
}

dt {
	margin-top: 0.5em;
	margin-bottom: 0;
}

dl {
	margin-left: 20px;
}

dd {
	color: #222222;
}

dd > *:first-child {
	margin-top: 0;
}

ul {
	list-style-position: outside;
	list-style-type: square;
}

p + ul, p + ol {
	margin-top: -0.5em;
}

li ul, li ol {
	margin-top: -0.3em;
}

ol {
	list-style-position: outside;
	list-style-type: decimal;
}

li p, dd p {
	margin-bottom: 0.3em;
}


ol ol {
	list-style-type: lower-alpha;
}

ol ol ol {
	list-style-type: lower-roman;
}

p + div.codeblock {
	margin-top: -0.6em;
}

div.codeblock, div.infoblock {
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1.3em;
}

div.blocktitle {
	font-weight: bold;
	color: #cd7b62;
	margin-top: 1.2em;
	margin-bottom: 0.1em;
}

div.blockcontent {
	border: 1px solid silver;
	padding: 0.3em 0.5em;
}

div.infoblock > div.blockcontent {
	background: #ffffee;
}

div.blockcontent p + ul, div.blockcontent p + ol {
	margin-top: 0.4em;
}

div.infoblock p {
	margin-bottom: 0em;
}

div.infoblock li p, div.infoblock dd p {
	margin-bottom: 0.5em;
}

div.infoblock p + p {
	margin-top: 0.8em;
}

div.codeblock > div.blockcontent {
	background: #f6f6f6;
}

span.pycommand {
	color: #000070;
}

span.statement {
	color: #008800;
}
span.builtin {
	color: #000088;
}
span.special {
	color: #990000;
}
span.operator {
	color: #880000;
}
span.error {
	color: #aa0000;
}
span.comment, span.comment > *, span.string, span.string > * {
	color: #606060;
}

@media print {
	#layout-menu { display: none; }
}

#fwtitle {
	margin: 2px;
}

#fwtitle #toptitle {
	padding-left: 0.5em;
	margin-bottom: 0.5em;
}

#layout-content h1:first-child, #layout-content h2:first-child, #layout-content h3:first-child {
	margin-top: -0.7em;
}

div#toptitle h1, #layout-content div#toptitle h1 {
	margin-bottom: 0.0em;
	padding-bottom: 0.1em;
	padding-top: 0;
	margin-top: 0.5em;
	border-bottom: none;
}

img.eq {
	padding: 0;
	padding-left: 0.1em;
	padding-right: 0.1em;
	margin: 0;
}

img.eqwl {
	padding-left: 2em;
	padding-top: 0.6em;
	padding-bottom: 0.2em;
	margin: 0;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
}

td {
    padding: 0px;
    padding-left: 0.0em;
    padding-right: 0.0em;
    text-align: left;
	border: 1px solid gray;
}

table + table {
    margin-top: 1em;
}

tr.heading {
    font-weight: bold;
    border-bottom: 2px solid black;
}

img {
    border: none;
}

table.imgtable, table.imgtable td {
    border: none;
    text-align: left;
}